<%- include('includes/head') %>
  <%- include('includes/nav') %>

    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 my-3">
          <h1 class="text-center">Seja Bem Vindo!</h1>
          <p class="text-center lead">Você está logado <a href="/"">Clique Aqui</a> para acessar a pagina inicial.</p>
          
          <%- include('includes/messages') %> 

        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>

    <%- include('includes/footer') %>